{
	"plugins": [["fast-async"],["runtime"],["transform-runtime"]],
  "presets": [
    ["env", {
      "targets": {
        "ie": 10
      },
      "loose": true,
      "modules": false,
      "useBuiltins": "runtime",
      "debug": true,
      "exclude": ["transform-async-to-generator", "transform-regenerator"]
    }]
  ]
}
