// .babelrc
{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "fast-async",
    "transform-object-rest-spread"
  ]
}
