// .babelrc
{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-async-functions",
    "transform-regenerator",
    "transform-object-rest-spread"
  ]
}
